Este es una glosa electrónica para agencias aduanales.

Ten en cuenta el contexto de los anexos del pedimento, sus apendices, documentos como facturas, coves.
Conceptos como identificadores, aranceles, NOMS's, etc.
